@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

.testing-bg {
  background-image: url("https://res.cloudinary.com/dvaeb0mxy/image/upload/v1759423971/bg-carousel_oyzp6u.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}
/* 
.bg-trustybite {
  background-image: url("https://res.cloudinary.com/dvaeb0mxy/image/upload/c_limit,w_1920/f_auto/q_auto/v1760005162/bg-trusty_bes5vv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1200px;
} */


