@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

.testing-bg {
  background-image: url("https://res.cloudinary.com/dvaeb0mxy/image/upload/v1759423971/bg-carousel_oyzp6u.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.bg-trustybite {
  position: relative;
  /* overflow: hidden; */
  isolation: isolate;         /* new stacking context */
  max-height: 1200px;
}

/* Move the background image to a pseudo-element and blur it */
.bg-trustybite::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://res.cloudinary.com/dvaeb0mxy/image/upload/c_limit,w_3840/f_auto/q_auto/v1760005162/bg-trusty_bes5vv.png")
              center / cover no-repeat;
  /* filter: blur(1px);       */
  /* transform: scale(1.05);     avoid visible edges after blur */
  z-index: -1;               
}
